@import (reference) '../../less/variables.less';

.creating {
	background-color: transparent;
	padding: 12px 0;

	&__list {
		display: flex;
		align-items: center;
		overflow-x: auto;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
	}

	&__item {
		position: relative;
		border-radius: 8px;
		background-color: @color-white;
		z-index: 1;
		scroll-snap-stop: always;
		scroll-snap-align: start;
    flex: 1 0 270px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		flex: 1;
		padding: 16px;
		transition: background-color @transition;

		&:hover {
			background-color: #f5f9fb;

			.creating__link {
				color: @color-hover;
			}
		}

		&::after {
			position: absolute;
			content: "";
			top: 6px;
			left: 6px;
			right: 6px;
			bottom: 6px;
			z-index: -1;
			transition: background-color @transition;
		}
	}

	&__svg {
		width: 27px;
		height: 27px;
		text-align: center;
		margin-right: 14px;
    flex-shrink: 0;
		fill: @color-hover;
	}
}

@media (min-width: @laptop) {
	.creating {
		padding: 24px 0;

		&__list {
			margin: 0 -16px;
			overflow: visible;
		}

		&__item {
			flex: 1 1 calc(100% / 7);
		}

		&__link {
			text-align: center;
			flex-direction: column;
			font-weight: 500;
			line-height: 18px;
			font-size: 14px;

			&::before {
				width: 64px;
				height: 64px;
			}
		}

		&__svg {
			width: 48px;
			height: 48px;
			margin-right: 0;
			margin-bottom: 24px;
		}
	}
}
