@import (reference) '../../less/variables.less';

.page-section {
	position: relative;
	padding-bottom: 40px;
	padding-top: 40px;

	&_indent-small {
		padding-bottom: 60px;
	}

	&_indent-huge {
		padding-bottom: 40px;
	}

	&_mt {
		margin-top: 0;
	}

	&_mobile {
		padding-top: 0;
	}

	&_inner {
		padding-bottom: 40px;
		padding-top: 0;
	}

	&_blue {
		background-color: @color-lightest;
	}

	&_bg {
		padding-top: 0;
		padding-bottom: 24px;
	}

	&_margin {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media (min-width: @laptop) {
	.page-section {
		padding-bottom: 60px;
		padding-top: 60px;

		&_mt {
			margin-top: 98px;
		}

		&_indent-huge {
			padding-bottom: 120px;
		}

		&_bg {
			padding-top: 0;
			padding-bottom: 40px;
		}

		&_margin {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}

	.page-section.page-section_inner {
		padding-bottom: 120px;
		padding-top: 0;
	}
}
