@import (reference) '../../less/variables.less';

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	background-color: @text-white;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);

	&__top {
		padding: 8px 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__logo {
		display: block;
		width: 45px;
		height: 48px;
		margin: 0 auto;
	}

	&__logo-svg {
		width: 100%;
		height: 100%;
	}

	&__nav {
		flex: 1 1 auto;
		margin-left: 100px;
	}

	&__address {
		display: none;
		margin-left: auto;
	}

	&__address,
	&__nav {
		font-size: 13px;
		display: none;
	}

	&__address-item:first-child {
		margin-bottom: 16px;
	}

	&__address-item {
		position: relative;
		padding-left: 54px;

		&_phone::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 37px;
			height: 37px;
			background: url("./img/tel.png") center left / cover no-repeat;
		}

		&_mail::after {
			position: absolute;
			content: "";
			top: -4px;
			left: 0;
			width: 37px;
			height: 37px;
			background: url("./img/mail.png") center left / cover no-repeat;
		}
	}

	&__burger {
		margin-right: 32px;
	}

	&__mobile-link {
		display: inline-flex;
		margin-left: 32px;
		&.is-active {
			pointer-events: none;
		}
	}
}

@media (min-width: @laptop) {
	.header {
		position: absolute;
		transition: transform .3s ease-in-out;

		&_moved {
			box-shadow: none;
		}

		&.is-moved {
			.header__top {
				display: none;
			}

			position: fixed;
			transform: translateY(54px);
			top: -54px;
			transition: transform .3s ease-in-out, position 0;

		}

		&__top {
			padding: 24px 0;
		}

		&__logo {
			width: 100px;
			height: 105px;
		}

		&__nav-top {
			margin-right: 66px;
		}

		&__nav-label {
			margin-bottom: 8px;
			font-weight: 400;
			font-size: 15px;
		}

		&__nav-link {
			position: relative;
			display: inline-flex;
			line-height: 1;
			font-size: 18px;
			font-weight: 700;
			align-items: center;
			color: @color-hover;
			transition: color @transition;

			&:not(.is-active)::before {
				position: absolute;
				content: '';
				bottom: -8px;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: @color-brand;
				opacity: 0;
				visibility: hidden;
				transition: opacity @transition;
			}

			&:hover {
				color: @color-hover;
			}

			&:hover::before {
				opacity: 1;
				visibility: visible;
			}
		}

		&__nav-link.is-active {
			cursor: default;
		}

		&__nav-link.is-active::after {
			position: absolute;
			content: "";
			bottom: -8px;
			width: 100%;
			height: 4px;
			background-color: @color-brand;
			transition: opacity @transition;
		}

		&__nav-link.is-active:hover::after {
			opacity: .3;
		}

		&__nav-svg {
			margin-right: 8px;
		}

		&__address {
			display: block;
		}

		&__nav {
			display: flex;
			align-items: center;
		}

		&__address-list {
			display: flex;
			flex-direction: column;
		}

		&__mobile-link {
			display: none;
		}

		&__address-link {
			display: block;
			font-weight: 700;
			font-size: 18px;
			color: @color-hover;
			transition: color @transition;

			&:hover {
				color: @color-primary-light;
			}
		}

		&__address-svg {
			position: relative;
			z-index: 1;
			margin-right: 16px;
		}

		&__address-text {
			max-width: 180px;
			white-space: nowrap;
		}

		&__address-footnote {
			font-size: 12px;
			font-weight: 400;
		}

		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
