@import (reference) '../../less/variables.less';

.quote {
	&_blue {
		background-color: @color-white-light;
	}

	&__wrapper {
		position: relative;
	}

	.quote__wrapper_reverse {
		display: flex;
		flex-direction: column-reverse;

		.quote__text-block {
			margin-bottom: 40px;
		}
	}

	.quote__wrapper_row-reverse {
		.quote__text-block {
			margin-bottom: 32px;
		}

		.swiper-pagination-bullet {
			width: 28px;
			border-radius: 0;
		}

		.swiper-pagination-bullet-active {
			background-color: @color-brand;
		}
	}

	&__list {
		&_mb {
			margin-bottom: 40px;
		}
	}

	&__img-block {
		position: relative;

		&_small {
			height: 240px;
			flex-shrink: 0;
		}

		&_large {
			height: 200px;
		}

		&_mb {
			margin-bottom: 24px;
		}
	}

	&__wrapper-link {
		display: flex;
		justify-content: center;
		height: 100%;
	}

	&__link {
		margin-top: 24px;

		&_ml {
			margin-left: 36px;
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 40px;
	}

	&__swiper-container {
		padding-bottom: 24px;
		margin-bottom: 24px;
	}

	&__item {
		.quote__pagination {
			position: absolute;
			bottom: 0;
			text-align: center;
			z-index: 1;
		}

		.swiper-pagination-bullet {
			width: 4px;
			height: 4px;
			margin: 0 4px;
			color: @color-white-dim;
		}

		.swiper-pagination-bullet-active {
			background-color: @text-gray;
		}
	}

	&__desc {
		font-weight: 400;

		&_img {
			display: flex;
			align-items: flex-start;
			&::before {
				content: "";
				display: block;
				margin-right: 16px;
				flex-shrink: 0;
				width: 24px;
				height: 24px;
				background: url('../../static/img/quote.svg') center / contain no-repeat;
			}
		}
	}
}

@media (min-width: @laptop) {
	.quote {
		&__wrapper {
			display: flex;
			align-items: center;
		}

		.quote__wrapper_reverse {
			display: flex;
			flex-direction: row;
		}

		.quote__wrapper_row-reverse {
			flex-direction: row-reverse;
			justify-content: space-between;

			.quote__text-block {
				margin-bottom: 0;
			}
		}

		&__item:nth-child(even) {
			.quote__wrapper {
				flex-direction: row-reverse;
			}

			.quote__wrapper_row-reverse {
				flex-direction: row;
			}

			.quote__img-block {
				margin-left: 56px;
				margin-right: 0;
			}
		}

		&__item:nth-child(odd) {
			.quote__img-block {
				margin-left: 0;
			}
		}

		&__img-block {
			flex: 1 1 auto;
			// width: 50%;
			height: 600px;
			margin-right: 56px;

			&_small {
				height: 380px;
				width: 100%;
				max-width: 530px;
				flex-shrink: 0;
				flex-grow: 0;
			}

			&_large {
				height: 510px;
				flex: 0 1 auto;
				max-width: 770px;
				width: 100%;
			}

			&_mb {
				margin-bottom: 0;
			}
		}

		&__link {
			&_ml {
				margin-left: 54px;
			}
		}

		&__swiper-container {
			margin-bottom: 0;
		}

		&__text-block {
			max-width: 545px;
			width: 100%;
			flex: 1;
		}

		&__title {
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 24px;
		}

		&__wrapper-link {
			justify-content: flex-end;
		}

		&__desc:not(.quote__desc_black) {
			color: @text-gray;
		}

		&__desc {
			&_img {
				display: flex;
				align-items: flex-start;
				&::before {
					width: 40px;
					height: 40px;
				}
			}

			&_black_fw600 {
				font-weight: 600;
			}

			&_black_fs18 {
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
}
